<meta charset="UTF-8">
<title>NODE-CMS</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="icon" href="/favicon.ico">
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<% if(locals.action) { %>
<div class="container">
    <a href="/" class="btn btn-primary home-button">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</div>
<% } %>