
<div class="container">
    <h2><%= article.title %></h2>
</div>
<br/>
<div class="container">
    <div class="form-group article-description" >
        <%= article.description %>
    </div>
</div>
