<!-- views/pages/about.ejs -->
<!DOCTYPE HTML>
<html>
	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<h1><%= title %></h1>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>