body{
	height:100%;
	overflow-y:auto;
}

.mr-5{
	margin-right:5px;
}
.mr-10{
	margin-right:10px;
}
.ml-5{
	margin-left:5px;
}
.ml-10{
	margin-left:10px;
}
.articlesContainer{
	max-height: 350px;
	overflow-y:auto;
	padding:5px;
}
.home-button{
	margin-bottom:5%;
	margin-right:20%;
	margin-top: 29px;
}
.article-description{
	max-height:	300px;
	overflow-y:auto;
}
/*
#alert_footer{
	max-height:130px;
	overflow-y:auto;
	border:1px solid grey;
	background-color: #ddd;
}
.alert-message{
	padding:5px;
	font-size:16px;
}*/
footer{
	width:100%;
	position:fixed;
	bottom:5px;
}
a {
	color: black;
}
.page-header {
	padding-bottom: 9px!important;
	margin: 40px 0 20px!important;
	border-bottom: 1px solid #eee!important;
	/*background-color: #efefef!important;*/
}
div.page-header h1 {
	margin-bottom: -4px!important;
	color: slategray!important;
}
div.container {
	width: 100%!important;
}